body {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  background: #222222;
  color: #e9e9e9;
  margin: 0;
}

.countdown {
  font-size: 150px;
  font-weight: 900;
}

.countdowntext {
  font-size: 25px;
  font-weight: 900;
}

.winner {
  font-size: 50px;
  color: lightskyblue;
}

.round {
  font-size: 50px;
}

.goldenround {
  font-size: 50px;
  color: gold;
}

h1, h2, h3 {
  margin: 0;
}

.raffle_score_board {
  list-style: none;
}

.raffle_score_board th, 
.raffle_score_board td { 
  width: 500px;
}

.raffle_score_board td:last-child {
  text-align: center;
}

.raffle_score_board tr:nth-child(2) {
  color: #57E86B;
  font-size: 40px;
}

.raffle_score_board tr:nth-child(3) {
  color: #78EC6C;
  font-size: 35px;
}

.raffle_score_board tr:nth-child(4) {
  color:  #A9F36A;
  font-size: 31px;
}

.raffle_score_board tr:nth-child(5) {
  color: #DDF969;
  font-size: 28px;
}

.raffle_score_board th:first-child {
  text-align: left;
}

.scoreheader {
  font-size: 40px;
}